 
  .styles{
    top: 8px;
    position: absolute;
    left: 20%;
  }
  .topnav {
    overflow: hidden;
    background-color: chocolate;
    height: 80px;
    
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: chocolate;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  .font{
      font-size: 32px;
      font-weight: 500;
  }
  .font2{
    margin-left: -13%;
    color: lightgray;
    font-weight: 600;

  }
  .fon{
      color: lightgray;
      font-weight: 600;

  }
  .nav-tabs {
    border-bottom: none;
}
#pills-tab.nav-tabs .nav-item.show .nav-link,
#pills-tab.nav-tabs .nav-link.active {
  background-color: #2C75FF;
  color: #fff;
}

#pills-tab.nav-tabs .nav-link {
  color: #2C75FF;
  border-bottom: 2px solid #2C75FF !important;
  border-right: 1px solid #2C75FF;
  border-left: 1px solid #2C75FF;
  border-top: 1px solid #2C75FF;
}

#pills-tab.nav-tabs .nav-item:first-child .nav-link {
  border-top-left-radius: 12px;
  border-top-right-radius: 0;
}

#pills-tab.nav-tabs .nav-item:not(:first-child):not(:last-child) .nav-link {
  border-radius: 0;
}

#pills-tab.nav-tabs .nav-item:last-child .nav-link {
  border-top-right-radius: 12px;
  border-top-left-radius: 0;
}

#pills-tab.nav-tabs .nav-link.active {
  color: #fff;
}
.portion{
    position: absolute;
    left: 20%;
}
body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
}

a {
  transition: background 0.2s, color 0.2s;
}
a:hover,
a:focus {
  text-decoration: none;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #57d9a8;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 250px;
  text-align: center;
  padding: 20px 0;
}
.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}
.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #757575;
  font-weight: 600;
  font-size: 18px;
}
.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #fff;
  background: #F8BE12;
}
.sidebar-nav > li > a i.fa {
  font-size: 24px;
  width: 60px;
}

#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background-color: #eee;
  font-size: 24px;
  margin-bottom: 0;
  border-radius: 0;
}
#navbar-wrapper .navbar a {
  color: #757575;
}
#navbar-wrapper .navbar a:hover {
  color: #F8BE12;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 100px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 250px;
  }
  
  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 250px;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }
  
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 60px;
  }
  
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size: 16px;
  }
  
  #sidebar-wrapper {
  
  background: linear-gradient(darkgray, lightgray);
  
  }
  .sidebar-nav > li > a:hover,
  .sidebar-nav > li.active > a {
  text-decoration: none;
  color: #fff;
  background: rgb(44, 44, 42);
  font-weight: bolder;
  }
  
  .sidebar-nav > li > ul> li > a:hover,
  .sidebar-nav > li > ul> li.active > a {
  text-decoration: none;
  color: #fff;
  background: rgb(85, 85, 79);
  font-weight: bolder;
  }